.flex-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 20rem;
  padding-block-start: 2rem;
}

.flex-container-selected-elements {
  display: flex;
  gap: 0.5rem;
}

.flex-container-filter {
  display: flex;
  gap: 2rem;
}

.select-container {
  min-width: 20rem;
}

// .multiselect {
//     // width: 15%;
//   }

.selectBox {
  position: relative;
  border: 0.2rem solid white;
}

.selectBox:hover {
  cursor: pointer;
}

.selectBox select {
  width: 100%;
  color: white;
  background-color: black;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

.checkboxes {
  color: white;
  background-color: black;
  height: 15rem;
  overflow-y: scroll;
}

.list-element-dropdown {
  list-style-type: none;
  border: 0.1rem solid white;
}

.list-element:hover {
  cursor: pointer;
}

.list-element label:hover {
  cursor: pointer;
}

.selected-element {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border: 0.1rem solid white;
  height: fit-content;
  padding: 0.3rem;
  letter-spacing: 0.025rem;
}

.selected-element:hover {
  cursor: pointer;
}