.logoContainer {
  margin: 4rem;
}

.leaguepage {
    color: #fff;
    height: max-content;
    padding: 0;
    margin: 0;
    background-color: rgb(15, 15, 15);
    article {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            height: 90vh;
            // transform: translate(40%);
            z-index: 1;
            padding-bottom: 90px;
            object-fit: cover;
            position: sticky;
            left: 12vw;
        }
        .font-container {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin: 0 55px 0 0;
            h2 {
                color: #E83539;
                font-size: 12.4rem;
                font-weight: 700;
                width: 100%;
                text-transform: uppercase;
                margin-right: 48px;
                text-align: right;
                z-index: 2;
                white-space: wrap;
            }
            h3 {
                display: inline-block;
                font-size: 6.5rem;
                font-weight: 600;
                z-index: 2;
                text-transform: uppercase;
            }
        }
    }
    ul {
        list-style: none;
        padding-left: 15px;
        a {
            color: #fff;
            text-decoration: none;
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 22px;
            padding-left: 24px;
            font-size: 3rem;
            z-index: 3;
            transition: transform .2s ease-out;
            &:hover {
                transform-origin: left;
                transform: scale(1.45);
            }
        }
        .stadium {
            margin-left: 10px;
            color: #fff;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}

// Mobile
@media only screen and (max-width: 415px) {
    .leaguepage {
        article {
            img {
                height: 60vh;
                left: 1rem;
            }
            .font-container {
                margin: 0 15px 0 0;
                h2 {
                    font-size: 4.5rem;
                }
                h3 {
                    font-size: 2.2rem;
                }
            }
        }
        ul {
            a {
                font-size: 2rem;
                padding: 1rem;
                padding-left: 0.1rem;
                }
            .stadium {
                font-size: 1.1rem;
            }
        }
    }
}