section {
    display: flex;
    align-items: center;
    padding-bottom: 5vh;
}

section img {
    width: 100%;
}

section h2 {
    color: #E83539;
    font-size: 16rem;
    text-transform: uppercase;
    margin: 0vh 3vw 0 -50%;
    text-align: right;
    width: 100%;
    // padding: 15vh 0;
}

svg {
    position: fixed;
    bottom: 5vh;
    left: 91%;
}

svg rect {
    transition: all .4s ease;
}

svg rect {
    fill: rgb(15, 15, 15);
    
}

svg:hover rect{
    fill: #E83539;
}
